# Python cache
__pycache__/
*.py[cod]

# Virtual environment
mentalhealth/

# Datasets
1_datasets/all_datasets/

# Environment variables
.env

# Databases
*.db

# IDE / Editor
*.idea
.vscode/

# Linter / cache
*.ruff_cache
*.pytest_cache
